[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.1"
django = "==3.1.14"
django-ckeditor = "==6.0.0"
django-constance = "==2.8.0"
django-js-asset = "==1.2.2"
django-picklefield = "==3.0.1"
pillow = "==9.3.0"
python-memcached = "==1.59"
pytz = "==2020.4"
six = "==1.15.0"
sqlparse = "==0.4.4"
psycopg2-binary = "*"
ipython = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
