{% extends 'content/sidebar-layout.html' %}
{% load static %}

{% block amp_url %}
<!-- DELETED -->
{% endblock %}



{% block head_tag %}
<title>{{ object.title }}</title>
<meta name="description" content="{{ object.title }}">
<link rel='canonical' href="{% url 'content:category_single' object.slug %}" />
<link rel='amphtml' href="{% url 'content:category_single' object.slug %}/amp" />
<link rel="alternate" type="application/rss+xml" title="Dòng thông tin chuyên mục {{object.title}}" href="{{config.SITE_HOMEPAGE}}{% url 'content:feed_by_category' object.slug %}">
{% endblock %}


{% block breadcrumb %}
<div class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">You are here: <span
    class="breadcrumb-link-wrap" itemprop="itemListElement" itemscope=""
    itemtype="https://schema.org/ListItem"><a class="breadcrumb-link"
        href="{{config.SITE_HOMEPAGE}}" itemprop="item"><span class="breadcrumb-link-text-wrap"
            itemprop="name">Home</span></a>
    <meta itemprop="position" content="1">
</span> <span aria-label="breadcrumb separator">/</span> <span class="breadcrumb-link-wrap"
    itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a
        class="breadcrumb-link" href="{% url 'content:category_single' object.slug %}" itemprop="item"><span
            class="breadcrumb-link-text-wrap" itemprop="name">{{object.title}}</span></a>
    <meta itemprop="position" content="2">
</span>

<script type="application/ld+json">
    {% include 'schema/breadcrumb.markup' %}
</script>
{% endblock breadcrumb %}


{% block content_body %}

<!-- Content Body -->


<div class="block category-listing category-style2">
    <div class="utf_block_title">
        <span>
            <a href="{% url 'content:category_single' object.slug %}" style="color: #fff;">{{object.title}}</a>
            &nbsp;
            <a title="rss" style="color: #fff;" href="{% url 'content:feed_by_category' object.slug %}">
                <span class="social-icon"><i class="fa fa-rss"></i></span>
            </a>
        </span>
    </div>
            
            {% for blog_post in object_list %}
            <article class="post type-post format-standard has-post-thumbnail entry"
            aria-label="{{ blog_post.title }}" itemscope="" itemtype="https://schema.org/CreativeWork">
            <header class="entry-header">
                <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" rel="bookmark"
                        href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a></h2>
                <p class="entry-meta"><time class="entry-time" itemprop="datePublished"
                        datetime="{{blog_post.created_on}}">{{blog_post.created_on|date:"d/m/y"}}</time> <time class="entry-modified-time"
                        itemprop="dateModified" datetime="{{blog_post.created_on}}">{{blog_post.created_on|date:"d/m/y"}}</time> <span
                        class="entry-author" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><a
                            href="{% url 'content:user_single' blog_post.author.pk %}" class="entry-author-link" rel="author"
                            itemprop="url"><span class="entry-author-name" itemprop="name">{{blog_post.author}}</span></a></span>
                </p>
            </header>
            <div class="entry-content" itemprop="text"><a class="entry-image-link"
                    href="{% url 'content:blog_single' blog_post.slug %}" aria-hidden="true" tabindex="-1"><img width="150"
                        height="150"
                        src="{%if blog_post.thumbnail%}
                        {{ blog_post.thumbnail }}
                        {%else%}
                        {% static '/assets/images/na.png' %}
                        {%endif%}"
                        class="alignleft post-image entry-image" alt="{{ blog_post.title }}" decoding="async"
                        itemprop="image" ></a>
                <p>{{ blog_post.excerpt }} ... <a class="more-link" href="{% url 'content:blog_single' blog_post.slug %}">Xem chi tiết</a></p>
            </div>
        </article>
            {% endfor%}

            {% if page_obj %}
            {% include 'content/pagination.html' %}
            {% endif %}

                                
</div>

<!-- /Content Body -->
{% endblock content_body %}