<meta property="og:type" content="Article">
<meta property="article:tag" content="{{object.excerpt}}">
<meta property="og:title" content="{{object.title}}">
<meta property="og:description" content="{{object.excerpt}}">
<meta content="{{object.excerpt}}">
<meta property="og:image" content="{{object.thumbnail}}">
<meta property="twitter:image" content="{{object.thumbnail}}">
<meta property="twitter:card" content="summary_large_image">
<meta property="og:url" content="{{config.SITE_HOMEPAGE}}{% url 'content:blog_single' object.slug %}">
<meta property="article:section" content="{{object.category.title}}">
<meta property="article:published_time" content="2023-10-10T02:15:00+07:00">
<meta property="article:modified_time" content="2023-10-10T02:15:00+07:00">
<meta name="pubdate" content="2023-10-10T02:15:00+07:00">
<meta name="lastmod" content="2023-10-10T02:15:00+07:00">
<meta content="2023-10-10T02:15:00+07:00">
<meta property="og:site_name" content="{{config.SITE_TITLE}}">
<meta property="article:author" content="{{object.author.username}}">