{% extends 'content/sidebar-layout.html' %}

{% block head_tag %}
<title>{{ object.title }}</title>
<meta name="description" content="{{ object.content|truncatechars:300 }}">
<link rel='canonical' href="{{config.SITE_HOMEPAGE}}{% url 'content:blog_single' object.slug %}" />
<link rel='amphtml' href="{{config.SITE_HOMEPAGE}}{% url 'content:blog_single_amp' object.slug %}" />


{% include 'content/head-oginfo.html'%}
{% endblock %}



{% block content_body %}



<!-- BEGIN CONTENT BODY -->
<article
class="post-29028 post type-post status-publish format-standard has-post-thumbnail category-am-thuc entry"
aria-label="{{ object.title }" itemscope=""
itemtype="https://schema.org/CreativeWork">
<header class="entry-header">
    <h1 class="entry-title" itemprop="headline">{{ object.title }}</h1>
    <p class="entry-meta"><time class="entry-time" itemprop="datePublished"
            datetime="{{ object.created_on }}">{{ object.created_on|date:"d/m/y" }}</time> <time
            class="entry-modified-time" itemprop="dateModified"
            datetime="{{ object.created_on }}">{{ object.created_on|date:"d/m/y" }}</time> <span
            class="entry-author" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><a
                href="{% url 'content:user_single' object.author.pk %}" class="entry-author-link" rel="author"
                itemprop="url"><span class="entry-author-name" itemprop="name">{{object.author}}</span></a></span> </p>
</header>
<div class="entry-content" itemprop="text">
    <style>
        figure {
            text-align: center;
            margin: 25px auto;
        }

        figure img {
            display: block;
            margin: 10px auto;
        }
    </style>

{% block inner_content %}
{{ object.internal_seoified | safe }}
{% endblock inner_content %}

    <p class="internal-link" style="padding: 20px; background: #eaf0ff;">Nguồn: <a target="_blank"
            href="{{config.SITE_HOMEPAGE}}">{{config.SITE_HOMEPAGE}}</a><br>Danh mục: <a
            target="_blank" href="{% url 'content:category_single' object.category.slug %}">{{object.category.title}}</a></p>
            
</div>

<footer class="entry-footer">
    <p class="entry-meta"><span class="entry-categories">Chuyên mục: <a
                href="{% url 'content:category_single' object.category.slug %}" rel="category tag">{{object.category.title}}</a></span> </p>
</footer>
</article>
<section class="author-box" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><img alt=""
    src="https://secure.gravatar.com/avatar/81afcd442f05946aa2c31ce68d80f6ab?s=70&amp;d=mm&amp;r=g"
    class="avatar avatar-70 photo" height="70" width="70" decoding="async">
<h4 class="author-box-title">About <span itemprop="name">{{object.author}}</span></h4>
<div class="author-box-content" itemprop="description"></div>
</section>

<!-- END CONTENT BODY -->








<script type="application/ld+json">
    {% include 'schema/newsarticle.markup' %}
</script>

<script type="application/ld+json">
    {% include 'schema/breadcrumb.markup' %}
</script>
{% endblock content_body %}
