{% load static %}

<aside class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primary Sidebar" itemscope="" itemtype="https://schema.org/WPSideBar">

<section id="block-2" class="widget widget_block widget_search">
    <div class="widget-wrap">
        <form role="search" method="get" action="{{ config.SITE_HOMEPAGE }}"
            class="wp-block-search__button-outside wp-block-search__text-button wp-block-search">
            <label class="wp-block-search__label" for="wp-block-search__input-1">Tìm kiếm</label>
            <div class="wp-block-search__inside-wrapper "><input class="wp-block-search__input"
                    id="wp-block-search__input-1" placeholder="" value="" type="search" name="s" required=""><button
                    aria-label="Tìm kiếm" class="wp-block-search__button wp-element-button" type="submit">Tìm
                    kiếm</button></div>
        </form>
    </div>
</section>
<section id="block-3" class="widget widget_block">
    <div class="widget-wrap">
        <div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
            <div class="wp-block-group__inner-container">
                <h2 class="wp-block-heading">Phổ biến</h2>
                <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                    {% for blog_post in popular_posts %}
                    <li><a class="wp-block-latest-posts__post-title"
                            href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="widget-wrap">
    <h2 class="widgettitle widget-title">Bài viết nổi bật</h2>
    {% for blog_post in most_viewed %}
    <article class="post type-post format-standard has-post-thumbnail entry"
        aria-label="{{ blog_post.title }}">
        <a href="{% url 'content:blog_single' blog_post.slug %}"
            class="alignleft" aria-hidden="true" tabindex="-1"><img width="100" height="100"
                src="{%if blog_post.thumbnail%}{{blog_post.thumbnail}}{%else%}{% static '/assets/images/na.png' %}{%endif%}"
                class="entry-image attachment-post" alt="{{ blog_post.title }}" decoding="async"
                itemprop="image"></a>
        <header class="entry-header">
            <h4 class="entry-title" itemprop="headline" style="font-size: 16px;"><a href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a></h4>

        </header>
    </article>
    {% endfor %}


</div>


<section id="block-6" class="widget widget_block">
    <div class="widget-wrap">
        <div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
            <div class="wp-block-group__inner-container">
                <h2 class="wp-block-heading">Chủ Đề</h2>
                <ul class="wp-block-categories-list wp-block-categories">
                    {% for category in blog_categories %}
                    <li class="cat-item cat-item-10"><a
                            href="{% url 'content:category_single' category.slug %}">{{category.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>


</aside>