{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="site-inner">
    <div class="content-sidebar-wrap">
        <main class="content">
            {% block breadcrumb %}
            <div class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">You are here: <span
                class="breadcrumb-link-wrap" itemprop="itemListElement" itemscope=""
                itemtype="https://schema.org/ListItem"><a class="breadcrumb-link"
                    href="{{config.SITE_HOMEPAGE}}" itemprop="item"><span class="breadcrumb-link-text-wrap"
                        itemprop="name">Home</span></a>
                <meta itemprop="position" content="1">
            </span> <span aria-label="breadcrumb separator">/</span> <span class="breadcrumb-link-wrap"
                itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a
                    class="breadcrumb-link" href="{% url 'content:category_single' object.category.slug %}" itemprop="item"><span
                        class="breadcrumb-link-text-wrap" itemprop="name">{{object.category.title}}</span></a>
                <meta itemprop="position" content="2">
            </span> <span aria-label="breadcrumb separator">/</span> {{object.title}}</div>
            {% endblock breadcrumb %}


            {% block content_body %}
            {% endblock content_body %}

        </main>
       
        {% block sidebar %}
        {% include "content/sidebar.html" %}
        {% endblock sidebar %}
    </div>
</div>
{% endblock %}