<!-- {% load static %} -->
{% load i18n %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
{% block amp_html_tag %}
<html lang="vi">
{% endblock %}

<head>
    <meta charset="utf-8" />
    {% block foremost_head_tag %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="">
    <!-- <link rel="stylesheet" href="{% static '/assets/css/main.css' %}" /> -->
    <link rel="icon" href="{{ config.SITE_FAVICON }}" type="image/png" sizes="16x16">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,shrink-to-fit=no">

    {% block head_tag %}
    <title>{{ config.SITE_TITLE }}</title>
    <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
    <link rel='canonical' href="{{ config.SITE_HOMEPAGE }}" />
    <link rel='amphtml' href="{{ config.SITE_HOMEPAGE }}/amp" />

    {% endblock %}
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin mới nhất trên {{config.SITE_TITLE}}" href="{{config.SITE_HOMEPAGE}}{% url 'content:all_feed' %}">
    <meta name="robots" content="index, follow" />


    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap" rel="stylesheet">

    <!-- <meta name="google-site-verification" content="6IkEfnGIhDbsN7tWMcUcjLRVM67uJGJCrLFRfQGm5gA" /> -->

    <link rel="stylesheet" href="{% static '/assets/base_css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/base_css/style.css' %}">
    <link rel="stylesheet" href="{% static '/assets/base_css/responsive.css' %}">
    <link rel="stylesheet" href="{% static '/assets/base_css/font-awesome.min.css' %}">

</head>

<body class="main-body">


    <div class="body-inner">
        <!-- Topbar Start -->
        <div id="top-bar" class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="unstyled top-nav">

                        </ul>
                    </div>
                    <div class="col-md-4 top-social text-lg-right text-md-center">
                        <ul class="unstyled">
                            <li>
                                <a title="Facebook" href="#">
                                    <span class="social-icon"><i class="fa fa-facebook"></i></span>
                                </a>
                                <a title="Twitter" href="#">
                                    <span class="social-icon"><i class="fa fa-twitter"></i></span>
                                </a>
                                <a title="Google+" href="#">
                                    <span class="social-icon"><i class="fa fa-google-plus"></i></span>
                                </a>
                                <a title="Linkdin" href="#">
                                    <span class="social-icon"><i class="fa fa-linkedin"></i></span>
                                </a>
                                <a title="Rss" href="#">
                                    <span class="social-icon"><i class="fa fa-rss"></i></span>
                                </a>
                                <a title="Skype" href="#">
                                    <span class="social-icon"><i class="fa fa-skype"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->

        <!-- Header start -->
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="logo">
                            <a href="{{ config.SITE_HOMEPAGE }}">
                                <img src="{% static '/images/hoasenplus.png' %}"
                                    alt="" height="75">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Main Nav Start -->
        <div class="utf_main_nav_area clearfix utf_sticky">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg col">
                        <div class="utf_site_nav_inner float-left">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="true" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="navbarSupportedContent"
                                class="collapse navbar-collapse navbar-responsive-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a href="{{ config.SITE_HOMEPAGE }}">Trang chủ</a>
                                    </li>
                                    {% for category in blog_categories %}
                                    <li>
                                        <a href="{% url 'content:category_single' category.slug %}">{{ category.title }}</a>
                                    </li>
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="utf_nav_search"> <span id="search"><i class="fa fa-search"></i></span> </div>
                    <div class="utf_search_block" style="display: none;">
                        <input type="text" class="form-control" placeholder="Enter your keywords...">
                        <span class="utf_search_close">&times;</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Nav End -->
        
        {% block content %}
        {% endblock %}




        <!-- Footer Start -->
        <div id="footer" class="footer">
            <div class="utf_footer_main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 col-xs-12 footer-widget contact-widget">
                            <div class="widget-title">About Us</div>
                            <ul>
                                <li>
                                    <div class="row clearfix content-line">
                                        <div class="col-xs-9 column content-util">{{config.SITE_DESCRIPTION}}</div>
                                    </div>
                                </li>
                                <li><i class="fa fa-home"></i>{{config.SITE_ADDRESS}}</li>
                                </li> Website chúng tôi là web site cập nhật nội dung tự động từ google.com. Nội dung
                                chỉ mang tính chất tham khảo
                            </ul>



                        </div>

                        <div class="col-lg-4 col-sm-12 col-xs-12 footer-widget widget-categories">
                            <div class="widget-title">Danh mục</div>
                            <ul>
                                {% for category in blog_categories %}
                                <li>
                                    <i class="fa fa-angle-double-right"></i>
                                    <a href="{% url 'content:category_single' category.slug %}">
                                        <span class="catTitle">{{ category.title }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col-lg-4 col-sm-12 col-xs-12 footer-widget">
                            <div class="widget-title">Trang</div>
                            <div class="utf_list_post_block">
                                <ul class="utf_list_post">
                                    <li class="clearfix">
                                        <div class="utf_post_block_style post-float clearfix">
                                            <div class="utf_post_content">
                                                <h2 class="utf_post_title title-small">
                                                    <a href="{{ config.SITE_HOMEPAGE }}/chuyen-doi-muc-dich-su-dung">Chuyển
                                                        đổi mục đích sử dụng</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="utf_post_block_style post-float clearfix">
                                            <div class="utf_post_content">
                                                <h2 class="utf_post_title title-small">
                                                    <a href="{{ config.SITE_HOMEPAGE }}/noi-quy">Nội Quy</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Copyright Start -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 text-center">
                        <div class="utf_copyright_info"> <span>Copyright © 2023 All Rights Reserved.</span> </div>
                    </div>
                </div>
                <div id="back-to-top" class="back-to-top">
                    <button class="btn btn-primary" title="Back to Top"> <i class="fa fa-angle-up"></i> </button>
                </div>
            </div>
        </div>
        <!-- Copyright End -->


        <script type="application/ld+json">
            {% include 'schema/website.markup' %}
        </script>
        <script type="application/ld+json">
            {% include 'schema/organization.markup' %}
        </script>


    </div>
    
    <!-- Javascript Files -->
    <script src="{% static '/assets/base_js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/assets/base_js/popper.min.js' %}"></script>
    <script src="{% static '/assets/base_js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/base_js/smoothscroll.js' %}"></script>
    <script src="{% static '/assets/base_js/custom_script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js" integrity="sha512-jNDtFf7qgU0eH/+Z42FG4fw3w7DM/9zbgNPe3wfJlCylVDTT3IgKW5r92Vy9IHa6U50vyMz5gRByIu4YIXFtaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        $(function () {
            $("img.img-fluid").lazyload({
                effect: "fadeIn"
            });
            $("img.img-fluid-cover").lazyload({
                effect: "fadeIn"
            });
        });
    </script>
</body>

</html>