<!-- {% load static %} -->
{% load i18n %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
{% block amp_html_tag %}
<html lang="vi">
{% endblock %}

<head>
    <meta charset="UTF-8">
    {% block foremost_head_tag %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %}    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

    {% block head_tag %}
    <title>{{ config.SITE_TITLE }}</title>
    <meta name="description" content="{{ config.SITE_DESCRIPTION }}">
    <link rel='canonical' href="{{ config.SITE_HOMEPAGE }}" />
    <link rel='amphtml' href="{{ config.SITE_HOMEPAGE }}/amp" />

    {% endblock %}
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin mới nhất trên {{config.SITE_TITLE}}" href="{{config.SITE_HOMEPAGE}}{% url 'content:all_feed' %}">
    <meta name="robots" content="index, follow" />

    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ config.SITE_TITLE }}">
    <meta property="og:description" content="{{ config.SITE_DESCRIPTION }}">
    <meta property="og:url" content="{{ config.SITE_HOMEPAGE }}">
    <meta property="og:site_name" content="{{ config.SITE_TITLE }}">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" id="paradise-style-css" href="{% static '/wp/css/style.css' %}" media="all">
    <link rel="stylesheet" id="paradise-enews-extended-css" href="{% static '/wp/css/enews-extended.css' %}" media="all">
    <link rel="stylesheet" id="paradise-back-to-top-css" href="{% static '/wp/css/back-to-top.css' %}" media="all">
    <link rel="stylesheet" id="paradise-magazine-style-css" href="{% static '/wp/css/magazine-style.css' %}" media="all">
    <link rel="stylesheet" id="paradise-comments-pagination-css" href="{% static '/wp/css/comments-pagination.css' %}" media="all">
    <link rel="stylesheet" id="paradise-icomoon-css" href="{% static '/wp/css/icomoon.css' %}" media="all">

    <style type="text/css">
        .site-title a {
            background: url({{config.SITE_LOGO}}) no-repeat !important;
        }
    </style>
    <link rel="icon" href="{{config.SITE_LOGO32}}"
        sizes="32x32">
    <link rel="icon" href="{{config.SITE_LOGO_192}}"
        sizes="192x192">
    <link rel="apple-touch-icon"
        href="{{config.SITE_LOGO_180}}">
    <meta name="msapplication-TileImage"
        content="{{config.SITE_LOGO_270}}">
</head>

<body
    class="home blog wp-custom-logo custom-header header-image content-sidebar genesis-breadcrumbs-hidden genesis-footer-widgets-visible primary-nav paradise-home">
    <a href="#" class="to-top" title="Back to top"><i class="icon-caret-down" aria-hidden="true"></i></a>
    <div class="site-container"><button class="menu-toggle genesis-mobile-nav-primary:before" aria-expanded="false"
            aria-pressed="false" role="button" id="genesis-mobile-nav-primary">MENU</button>
        <nav class="nav-primary genesis-responsive-menu" aria-label="Main" style="">
            <div class="wrap">
                <ul id="menu-menu" class="menu genesis-nav-menu menu-primary js-superfish sf-js-enabled sf-arrows"
                    style="touch-action: pan-y;">

                    <li id="menu-item"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item">
                        <a href="h{{ config.SITE_HOMEPAGE }}" aria-current="page"><span>Trang chủ</span></a></li>
                    {% for category in blog_categories|slice:":10" %}
                    <li id="menu-item"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item"><a
                            href="{% url 'content:category_single' category.slug %}"><span>{{ category.title }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <header class="site-header">
            <div class="wrap">
                <div class="title-area">
                    <h1 class="site-title"><a href="{{ config.SITE_HOMEPAGE }}">{{ config.SITE_TITLE }}</a></h1>
                </div>
                <div class="widget-area header-widget-area">
                    <section id="custom_html-3" class="widget_text widget widget_custom_html">
                        <div class="widget_text widget-wrap">
                            <div class="textwidget custom-html-widget">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </header>
        <nav class="nav-secondary genesis-responsive-menu" aria-label="Secondary" id="genesis-nav-secondary" style="">
            <div class="wrap">
                <ul id="menu-footer-menu"
                    class="menu genesis-nav-menu menu-secondary js-superfish sf-js-enabled sf-arrows"
                    style="touch-action: pan-y;">

                   
                    <li id="menu-item"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item">
                        <a href="h{{ config.SITE_HOMEPAGE }}" aria-current="page"><span>Trang chủ</span></a></li>
                    {% for category in blog_categories|slice:":10" %}
                    <li id="menu-item"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item"><a
                            href="{% url 'content:category_single' category.slug %}"><span>{{ category.title }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <div class="footer-widgets">
            <h2 class="genesis-sidebar-title screen-reader-text">Footer</h2>
            <div class="wrap">
                <div class="widget-area footer-widgets-1 footer-widget-area">
                    <section id="text-5" class="widget widget_text">
                        <div class="widget-wrap">
                            <h3 class="widgettitle widget-title">Về Chúng Tôi</h3>
                            <div class="textwidget">
                                <div class="description">
                                    <p>Trang thông tin tự động cập nhật Google chuyên cung cấp kiến thức về tất cả lĩnh
                                        vực</p>
                                    <p>Website chúng tôi là web site cập nhật nội dung tự động từ google.com. Nếu có vấn
                                        đề gì về bản quyền vui lòng liên hệ contact@{{config.SITE_ADDRESS}}</p>
                                    <ul>
                                        <li><a href="{% url 'content:chuyen-doi-muc-dich-su-dung' %}">Chuyển đổi mục đích sử dụng</a></li>
                                        <li><a href="{% url 'content:noi-quy' %}">Nội quy</a></li>
                                        <li><a href="{% url 'content:terms' %}">Điều khoản dịch vụ</a></li>
                                        <li><a href="{% url 'content:about' %}">Về chúng tôi</a></li>
                                        <li><a href="{% url 'content:contact' %}">Liên hệ</a></li>
                                        <li><a href="{% url 'content:privacy' %}">Quyền riêng tư</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="widget-area footer-widgets-2 footer-widget-area">
                    <section id="text-6" class="widget widget_text">
                        <div class="widget-wrap">
                            <h3 class="widgettitle widget-title">Địa Chỉ</h3>
                            <div class="textwidget">
                                <p>{{config.SITE_NAME}}<br>
                                    Địa chỉ: {{config.SITE_ADDRESS}}<br>
                                    Điện thoại: </p>
                                <p><strong>Theo dõi chúng tôi trên mạng xã hội</strong></p>
                                <p>
                                        {% if config.SOCIAL_NETWORKS_FACEBOOK_URL != '#' %}
                                        <a title="facebook" href="{{config.SOCIAL_NETWORKS_FACEBOOK_URL}}" target="_blank" rel="noopener">
                                            <span class="social-icon"><i class="fa fa-facebook"></i></span>
                                            <img
                                            decoding="async" class="alignnone wp-image-34079"
                                            src="{% static '/images/fb_icon.png' %}"
                                            alt="" width="40" height="40"></a>
                                            
                                        {% endif %}
                                        {% if config.SOCIAL_NETWORKS_TWITTER_URL != '#' %}
                                        <a title="twitter" href="{{config.SOCIAL_NETWORKS_TWITTER_URL}}" target="_blank" rel="noopener">
                                            <span class="social-icon"><i class="fa fa-facebook"></i></span>
                                            <img
                                            decoding="async" class="alignnone wp-image-34079"
                                            src="{% static '/images/twitter_icon.png' %}"
                                            alt="" width="40" height="40"></a>
                                            
                                        {% endif %}
                                        {% if config.SOCIAL_NETWORKS_LINKEDIN_URL != '#' %}
                                        <a title="linkedin" href="{{config.SOCIAL_NETWORKS_LINKEDIN_URL}}" target="_blank" rel="noopener">
                                            <span class="social-icon"><i class="fa fa-facebook"></i></span>
                                            <img
                                            decoding="async" class="alignnone wp-image-34079"
                                            src="{% static '/images/linkedin_icon.png' %}"
                                            alt="" width="40" height="40"></a>
                                            
                                        {% endif %}
                                        {% if config.SOCIAL_NETWORKS_YOUTUBE_URL != '#' %}
                                        <a title="youtube" href="{{config.SOCIAL_NETWORKS_YOUTUBE_URL}}" target="_blank" rel="noopener">
                                            <span class="social-icon"><i class="fa fa-facebook"></i></span>
                                            <img
                                            decoding="async" class="alignnone wp-image-34079"
                                            src="{% static '/images/youtube_icon.png' %}"
                                            alt="" width="40" height="40"></a>
                                            
                                        {% endif %}
                                </p>
                                    {% if config.SOCIAL_NETWORKS_GOOGLENEWS_URL != '#' %}
                                    <p><a href="{{config.SOCIAL_NETWORKS_GOOGLENEWS_URL}}"><img
                                        decoding="async" class="alignnone size-full wp-image-24187"
                                        src="{% static '/images/google_news_icon.png' %}"
                                        alt="" width="468" height="128"></a></p>
                                    {% endif %}

                            </div>
                        </div>
                    </section>
                </div>
                <div class="widget-area footer-widgets-3 footer-widget-area">
                    <section id="custom_html-2" class="widget_text widget widget_custom_html">
                        <div class="widget_text widget-wrap">
                            <h3 class="widgettitle widget-title">Map</h3>
                            <div class="textwidget custom-html-widget"><iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31354.41438451787!2d106.65816540009845!3d10.788181476643361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f218ed30895%3A0xd7ff822aa9ef6e94!2sHoa%20Sen%20University!5e0!3m2!1sen!2s!4v1699002042169!5m2!1sen!2s"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <footer class="site-footer">
            <div class="wrap">
                <p>Bản quyền ©&nbsp; {{config.SITE_TITLE}} 2023</p>
            </div>
        </footer>
    </div>
    <script src="{% static '/wp/js/jquery.min.js' %}"></script>
    <script src="{% static '/wp/js/jquery-migrate.min.js' %}"></script>
    <script src="{% static '/wp/js/hoverIntent.min.js' %}"></script>
    <script src="{% static '/wp/js/superfish.min.js' %}"></script>
    <script src="{% static '/wp/js/superfish.args.min.js' %}"></script>
    <script src="{% static '/wp/js/back-to-top.js' %}"></script>


    <script id="paradise-responsive-menu-js-extra">
        var genesis_responsive_menu = { "mainMenu": "MENU", "subMenu": "MENU", "menuClasses": { "combine": [".nav-primary", ".nav-header", ".nav-secondary"] } };
    </script>
    <script src="{% static '/wp/js/responsive-menus.min.js' %}"></script>


</body>

</html>