<ul class="pagination pagination-lg justify-content-end py-4">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <i class="ai-chevron-left me-2"></i>Previous</a>
    </li>
    {% endif %}

    <li class="page-item d-sm-none">
        <span class="page-link page-link-static">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
    </li>
    
    <li class="page-item active d-none d-sm-block" aria-current="page">
        <span class="page-link">{{ page_obj.number }}<span class="visually-hidden">(current)</span></span></li>
    
    
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next
            <i class="ai-chevron-right ms-2"></i></a>
    </li>
    {% endif %}
  </ul>