{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!-- Start Featured Post  -->

<section class="utf_featured_post_area pt-4 no-padding">
    <div class="container">
        <div class="row">
            {% with blog_post=blogs.0 %}
            <div class="col-lg-7 col-md-12 pad-r">
                <div class="utf_post_overaly_style content-bottom" style="height: 100%; max-height:365px">
                    <div class="utf_post_thumb">
                        <a href="{% url 'content:blog_single' blog_post.slug %}">
                            <img class="img-fluid img-cover" style="max-height: 365px;"
                                data-original="{{ blog_post.thumbnail }}" alt="{{ blog_post.title }}"
                                src="{{ blog_post.thumbnail }}">
                        </a>
                    </div>
                    <div class="utf_post_content">
                        <h3 class="utf_post_title title-large">
                            <a href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a>
                        </h3>
                    </div>
                </div>
            </div>
            {% endwith %}

            <div class="col-lg-5 col-md-12 pad-l">
                <div class="row">
                    {% with blogs=blogs|slice:"1:5" %}
                    {% for blog_post in blogs %}

                    <div class="col-md-6 pad-{% cycle 'r' 'l' %}-small">
                        <div class="utf_post_overaly_style contentTop utf_hot_post_bottom clearfix">
                            <div class="utf_post_thumb">
                                <a href="{% url 'content:blog_single' blog_post.slug %}">
                                    <img class="img-fluid img-cover" data-original="{{ blog_post.thumbnail }}"
                                        alt="{{ blog_post.title }}" src="{{ blog_post.thumbnail }}" style="">
                                </a>
                            </div>
                            <div class="utf_post_content">
                                <h3 class="utf_post_title title-medium">
                                    <a href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Post  -->




<!-- Start Blog  -->
<section class="utf_block_wrapper p-bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="utf_featured_tab color-blue">
                            <h2 class="utf_block_title"><span>Hỏi Đáp</span></h2>

                            <div class="row">
                                {% with blog_post=blogs.0 %}
                                <div class="col-lg-6 col-md-6">
                                    <div class="utf_post_block_style clearfix">
                                        <div class="utf_post_thumb">
                                            <a href="{% url 'content:blog_single' blog_post.slug %}">
                                                <img class="img-fluid img-cover"
                                                    data-original="{{ blog_post.thumbnail }}"
                                                    alt="{{ blog_post.title }}">
                                            </a>
                                        </div>
                                        <div class="utf_post_content">
                                            <h3 class="utf_post_title">
                                                <a href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a>
                                            </h3>
                                            <div class="utf_post_meta">
                                                <span class="utf_post_date">
                                                    <i class="fa fa-clock-o"></i>
                                                    {{ blog_post.created_on }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endwith %}


                                <div class="col-lg-6 col-md-6">
                                    <div class="utf_list_post_block">
                                        <ul class="utf_list_post">
                                            {% with blogs=blogs|slice:"1:5" %}
                                            {% for blog_post in blogs %}
                                            <li class="clearfix">
                                                <div class="utf_post_block_style post-float clearfix">
                                                    <div class="utf_post_thumb">
                                                        <a href="{% url 'content:blog_single' blog_post.slug %}">
                                                            <img class="img-fluid img-cover"
                                                                data-original="{{ blog_post.thumbnail }}"
                                                                alt="{{ blog_post.title }}">
                                                        </a>
                                                    </div>
                                                    <div class="utf_post_content">
                                                        <h3 class="utf_post_title title-small">
                                                            <a href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a>
                                                        </h3>
                                                        <div class="utf_post_meta">
                                                            <span class="utf_post_date">
                                                                <i class="fa fa-clock-o"></i>
                                                                {{ blog_post.created_on }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            {% endwith %}


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gap-30"></div>
                    </div>


                    <div class="col-lg-6">
                        <div class="block color-dark-blue">
                            <h2 class="utf_block_title"><span>Khám Phá Hàn Quốc</span></h2>
                            <div class="utf_list_post_block">
                                <ul class="utf_list_post">
                                    {% with blogs=blogs|slice:":5" %}
                                    {% for blog_post in blogs %}
                                    <li class="clearfix">
                                        <div class="utf_post_block_style post-float clearfix">
                                            <div class="utf_post_thumb">
                                                <a href="{% url 'content:blog_single' blog_post.slug %}">
                                                    <img class="img-fluid img-cover"
                                                        data-original="{{ blog_post.thumbnail }}"
                                                        alt="{{ blog_post.title }}"
                                                        style="">
                                                </a>
                                            </div>
                                            <div class="utf_post_content">
                                                <h3 class="utf_post_title title-small">
                                                    <a
                                                        href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a>
                                                </h3>
                                                <div class="utf_post_meta">
                                                    <span class="utf_post_date">
                                                        <i class="fa fa-clock-o"></i>
                                                        {{ blog_post.created_on }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    {% endwith %}
                                </ul>
                            </div>
                        </div>
                        <div class="gap-30"></div>
                    </div>
        
                    <div class="col-lg-6">
                        <div class="block color-dark-blue">
                            <h2 class="utf_block_title"><span>Khám Phá Hàn Quốc</span></h2>
                            <div class="utf_list_post_block">
                                <ul class="utf_list_post">
                                    {% with blogs=blogs|slice:":5" %}
                                    {% for blog_post in blogs %}
                                    <li class="clearfix">
                                        <div class="utf_post_block_style post-float clearfix">
                                            <div class="utf_post_thumb">
                                                <a href="{% url 'content:blog_single' blog_post.slug %}">
                                                    <img class="img-fluid img-cover"
                                                        data-original="{{ blog_post.thumbnail }}"
                                                        alt="{{ blog_post.title }}"
                                                        style="">
                                                </a>
                                            </div>
                                            <div class="utf_post_content">
                                                <h3 class="utf_post_title title-small">
                                                    <a
                                                        href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a>
                                                </h3>
                                                <div class="utf_post_meta">
                                                    <span class="utf_post_date">
                                                        <i class="fa fa-clock-o"></i>
                                                        {{ blog_post.created_on }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    {% endwith %}
                                </ul>
                            </div>
                        </div>
                        <div class="gap-30"></div>
                    </div>




                </div>






            </div>

            <div class="col-lg-4 col-md-12">
                <div class="sidebar utf_sidebar_right">
                    <div class="widget color-violet">
                        <div class="utf_block_title"><span>Phổ biến</span></div>
                        <div class="utf_list_post_block">
                            <ul class="utf_list_post">
                                {% for blog_post in blogs %}
                                <li class="clearfix">
                                    <div class="utf_post_block_style post-float clearfix">
                                        <div class="utf_post_thumb">
                                            <a href="{% url 'content:blog_single' blog_post.slug %}">
                                                <img class="img-fluid img-cover"
                                                    data-original="{{ blog_post.thumbnail }}"
                                                    alt="{{ blog_post.title }}">
                                            </a>
                                        </div>
                                        <div class="utf_post_content">
                                            <h3 class="utf_post_title title-small">
                                                <a href="{% url 'content:blog_single' blog_post.slug %}">{{ blog_post.title }}</a>
                                            </h3>
                                            <div class="utf_post_meta">
                                                <span class="utf_post_date">
                                                    <i class="fa fa-clock-o"></i>
                                                    {{ blog_post.created_on }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>
</section>
<!-- End Blog  -->


{% endblock %}