{% extends 'flatpages/base.html' %}

{% block flatpage_content %}
<h1>About Us</h1>

    <p>Welcome to {{site_name}} Homework Help!</p>
    <p>Every day {{site_name}} helps thousands of students with their homework by maintaining a free, ad-supported question
        and answer platform which is accessible 24/7 by anyone in the world.</p>
    <p>Anyone can ask a question, and anyone can answer questions. No registration is required.</p>
    <h2>History</h2>
    <p>{{site_name}} Homework Help was created in 1998 as a simple website which hosted basic school notes for a handful of
        classes such as history, geometry, and language arts. Over the years {{site_name}} evolved into its present form as
        a Q&amp;A
        platform on which anyone can post homework questions and receive help in any subject.</p>
    <p>The website, "{{site_name}}", was named after the founder's late dog. The word "{{site_name}}" means "good girl" in a
        native Bolivian language called Aymara.</p>
    <p>In 2019, {{site_name}} began launching sister websites in languages other than English. Our most popular languages
        aside from English are Sesotho, Spanish, and Tagalog.</p>
    <p>In 2021, {{site_name}} Homework Help became a property of {{site_name}} LLC in Texas.</p>
    <h2>Question &amp; Answer Guidelines</h2>
    <p>When posting questions or answers, please:</p>
    <ul>
        <li>Double-check your spelling and grammar before posting.</li>
        <li>Show any work you have completed, and include any relevant details.</li>
        <li>Post answers which are helpful to other visitors.</li>
        <li>Do not post any rude comments.</li>
    </ul>
    <h2>Voting</h2>
    <p>Please up-vote or down-vote any questions and answers whenever possible. Voting helps us determine which content
        our visitors find most valuable and which content needs to be removed.</p>
    <h2>Unacceptable Content</h2>
    <p>The following types of content are not permitted to be posted on our website:</p>
    <ul>
        <li>Rude or offensive language</li>
        <li>Pretending to be someone you are not</li>
        <li>Advertising of any kind</li>
        <li>Gibberish or nonsensical text</li>
        <li>Asking for or sharing personal information</li>
        <li>Deliberately providing wrong or misleading information</li>
        <li>Threats of any kind</li>
        <li>Hacking or attempting to use the website in a way it is not intended</li>
        <li>External links with little or no context, including:
            <ul>
                <li>A single link with no detailed explanation of what the link is for</li>
                <li>Links to search engines</li>
                <li>References to an external website (e.g. "use Google for more info")</li>
                <li>Lists of links</li>
            </ul>
        </li>
        <li>Duplicate content which is exactly the same as previously-posted content</li>
    </ul>
    <p>Visitors who post or attempt to post the above types of content may be banned from posting additional content.
        {{site_name}} reserves the right to ban any visitor from posting content on our website for any reason whatsoever.
    </p>
    <h2>Careers</h2>
    <p>{{site_name}} is hiring! We are currently seeking:</p>
    <ul>
        <li>Content moderators</li>
        <li>Data analysts</li>
        <li>Project managers</li>
        <li>Tutors</li>
        <li>Web developers</li>
    </ul>
    <p>If you or someone you know may be interested in working with us, please <a
            href="{{site_homepage}}/contact">contact us</a> with a resume and cover letter.</p>

{% endblock flatpage_content %}