{% extends 'flatpages/base.html' %}

{% block flatpage_content %}
<div class="utf_post_title-area">
    <h1 class="ltr">Nội Quy</h1>
</div>

<div class="utf_post_content-area">
    <div class="entry-content">
        <p dir="ltr">{{config.SITE_TITLE}} “Hãy đọc tin tức một cách chọn lọc nhất” đã trở thành nguồn cảm hứng để Chúng tôi ra đời. Hãy là người mua hàng tỉnh táo nhất là động lực để đội ngũ {{config.SITE_TITLE}} dành nhiều tâm huyết xây dựng hệ thống. Chúng tôi mong muốn mang đến cho bạn những tặng phẩm xứng đáng, giá trị. Bạn sẽ có một cái nhìn rõ ràng nhất về thương hiệu này qua bài giới thiệu tổng mua sắm online của {{config.SITE_TITLE}}”</p>
    <p dir="ltr">&nbsp;</p>
    </div>
</div>

{% endblock flatpage_content %}