{% extends 'flatpages/base.html' %}

{% block flatpage_content %}
<h1>Terms of Use Agreement</h1>


<div>
    <p>Welcome to the {{site_name}} website located at URL: <a href="{{site_homepage}}">{{site_homepage}}</a> (the
        “Site”). The Site is owned and operated by {{site_name}}, Inc. (“{{site_name}}”) and this Terms of Use
        Agreement (the "Terms" or “Agreement”) governs your relationship with the {{site_name}} website and {{site_name}}, Inc.
        By using or visiting the Site, you signify your agreement to these Terms and to {{site_name}}'s Academic Honesty
        Policy (“SAAHP”), incorporated in this Agreement. If you do not agree to any of these terms, please do not use
        the Service. Although we may attempt to notify you when major changes are made to these Terms, you should
        periodically
        review the most up-to-date version. {{site_name}} may, in its sole discretion, modify or revise these Terms and its
        corporate policies at any time, and you agree to be bound by such modifications or revisions. Nothing in these
        Terms
        shall be deemed to confer any third-party rights or benefits.</p>
    <p>{{site_name}} is an online academic learning assistance and tutoring marketplace where you can get answers to
        questions you are struggling with and get paid to answer questions on topics you know a lot about. There are
        three
        categories of persons (“users”) using the Site: Visitors, who merely view the Site without posting any content;
        Purchasers (the people asking questions and purchasing answers to questions posted on the Site, called “Query
        Transactions”); and Contributors, the people answering the questions posed by Purchasers and selling answers to
        Purchasers (which is the other side of a Query Transaction). Potential Purchasers may simply post a question
        they want
        answered on the site. {{site_name}} will make these questions available to the Contributors. Contributors may post
        answers to these questions, called tutorials, and Purchasers, in turn, may use their PayPal or other online
        payment
        or credit card accounts to buy them. Any user or Visitor can also be either a Purchaser or a Contributor or
        both. Users, visitors, Purchasers, and Contributors will be collectively referred to as “you” or “your” in these
        Terms.
    </p>
    <h3 id="A">A. Eligibility</h3>
    <p>Our Site and services are available to individuals age 13 and over whose account has not been terminated,
        suspended, or restricted by {{site_name}} for whatever reason. If you are between the ages of 13 and 18, you must
        review this
        Terms of Use Agreement with your parent or guardian over the age of 21 to confirm that you and your parent or
        guardian understand and agree to abide by it. When you use the Site, you represent that: (a) the information you
        submit
        is truthful and accurate; (b) your use of the Site and your use of the services available on the Site do not
        violate any applicable law or regulation; (c) you are 13 years of age or older; and (d) you will comply with the
        rules
        for online conduct.</p>
    <p><strong>Rules Governing Public Contributions and Interactive Features.</strong> You are entirely responsible for
        the content of, and any harm resulting from, any of your postings or submissions to the Site (collectively,
        “Contributions”). When you create or make available a Contribution, you represent and warrant that you:</p>
    <ul>
        <li>own or have sufficient rights to post your Contributions, on or through the Site;</li>
        <li>will not post Contributions that violate {{site_name}}’s or any other person’s privacy rights, publicity rights,
            copyrights, or contract rights;</li>
        <li>have fully complied with any third-party licenses relating to Contributions, agree to pay all royalties,
            fees, and any other monies owing any person by reason of Contributions that you posted to or through the
            Site;</li>
        <li>will not post Contributions that: (i) are defamatory, damaging, disruptive, unlawful, inaccurate,
            pornographic, vulgar, indecent, profane, hateful, racially or ethnically offensive, obscene, lewd,
            lascivious, filthy,
            threatening, excessively violent, harassing, or otherwise objectionable; (ii) incite, encourage or threaten
            immediate physical harm against another, including, but not limited to, Contributions that promote racism,
            bigotry,
            sexism, religious intolerance, or harm against any group or individual; (iii) solicit personal information
            from anyone under 13; or (iv) exploit anyone in a sexual or violent manner;</li>
        <li>will not post Contributions that contain advertisements or solicit any person to buy or sell products or
            services (other than the services for which this Site is solely provisioned and developed);</li>
        <li>will not use the Site for any unauthorized purpose including collecting user names and/or email addresses of
            other users by electronic or other means for the purpose of sending unsolicited email or other electronic
            communications, or engaging in unauthorized framing of, or linking to, the Site without {{site_name}}’s express
            written consent;</li>
        <li>will not post Contributions that constitute, contain, install, or attempt to install or promote spyware,
            malware, or other computer code, whether on {{site_name}}’s or others’ computers or equipment, designated to
            enable you or
            others to gather information about or monitor the online or other activities of another party;</li>
        <li>will not transmit chain letters or bulk or junk email or interfere with, disrupt, or create an undue burden
            on the Site or the networks or services connected to the Site, including, without limitation, hacking into
            the Site or
            using the system to send unsolicited or commercial emails, bulletins, comments, or other communications;
        </li>
        <li>will not impersonate any other person or entity, sell or let others use your profile or password, provide
            false or misleading identification or address information, or invade the privacy or violate the personal or
            proprietary
            right of any person or entity;</li>
        <li>have all the licenses required to give a response to a Purchaser;</li>
        <li>will not engage in the unauthorized practice of law or medicine;</li>
        <li>will not claim that any Contributor’s work is your own work; or</li>
        <li>will not sell or resell any Contributor’s work to a third party.</li>
    </ul>
    <h3 id="B">B. Grant of License to Use Contributions</h3>
    <p>By making a Contribution to the Site, you grant {{site_name}} a perpetual, non-exclusive (meaning you are free to
        license your Contribution to anyone else in addition to {{site_name}}), fully-paid, royalty-free (meaning that
        {{site_name}} is not required to pay you to use your Contribution), sublicensable (meaning that {{site_name}} can
        sublicense its rights to, for example, third-party hosted service providers who host the Site), and worldwide
        (because
        the Internet and the Site are global in reach) license to use, modify, create derivative works of, publicly
        perform, publicly display, reproduce, and distribute the Contribution for the purpose of displaying the content
        on the
        Site and selling it to Purchasers.</p>
    <h3 id="C">C. {{site_name}} Academic Honesty Policy (“SAAHP”)</h3>
    <p>We are committed to creating and maintaining a culture of learning and integrity. Sometimes this is pretty easy:
        If a student asks someone to write a paper or take a final exam for them, it's obviously cheating. We explicitly
        warn
        against posting such questions, scan for them, and remove any we become aware of. Sometimes it's more difficult:
        If a student asks for an explanation of a chemistry equation, how do we determine they have both permission and
        an
        honest intention to learn? Ultimately, we have put strong measures and language in place to discourage abuse,
        but it is up to you to act with honor and integrity.</p>
    <p>Don't ask people to complete entire assignments or write essays for you. Don't ask people to take quizzes, exams,
        tests, or final exams for you. Don't post a question unless you have your instructor’s implicit or explicit
        permission. For instance, don't ask someone to proofread a paper for you if your instructor says this is against
        his or her rules. Don't post a question without an honest intention to learn from your tutor's help. If you
        simply
        turn in a tutor’s help as your own work, you're cheating. If you are found cheating, you will be banned from
        ever using {{site_name}} again.</p>
    <p>Our Academic Honesty Policy for Tutors and Contributors is simple. We want you to earn lots of money on
        {{site_name}}. Remember, though, that you have a duty to teach, not help students cheat. Provide complete tutorials
        and
        explanations, not just answers. Your tutorial must include more help and explanations than what students would
        ordinarily turn in on their own. Never write essays or papers for people. Never complete finals, quizzes, or
        tests for
        a student.</p>
    <p>If you are found helping other students cheat, you will be banned forever and will forfeit any remaining balance
        or claim to your tutorials! Good solutions with complete explanations are purchased more often than short
        solutions
        with only answers. The solutions that earn the most are the ones that help people learn. Students award the best
        ratings to tutors who provide good explanations and legitimate tutoring. Short answers receive poor feedback and
        don't earn much money.</p>
    <h3 id="D">D. Use and Protection of Username and Password</h3>
    <p>You may never use another's account without permission. When creating your account, you must provide accurate and
        complete information. You are solely responsible for the activity that occurs on your account, and you must keep
        your
        account password secure. You must notify {{site_name}} immediately of any breach of security or unauthorized use of
        your account. Although {{site_name}} will not be liable for your losses caused by any unauthorized use of your
        account, you may be liable for the losses of {{site_name}} or others due to such unauthorized use. You are
        responsible for maintaining the confidentiality of your user name and password. You are responsible for all uses
        of your
        account, whether or not actually or expressly authorized by you.</p>
    <h3 id="E">E. {{site_name}}’s Intellectual Property Rights</h3>
    <p>All of the content on the Site (“Materials”), the trademarks, service marks, and logos contained on the Site
        (“Marks”) are owned by or licensed to {{site_name}} and are subject to copyright and other intellectual property
        rights
        under United States and foreign laws and international conventions. {{site_name}} reserves all rights not expressly
        granted in and to the Site and the Materials. If you download or print a copy of the Materials for your own
        personal
        use, you must retain all copyright and other proprietary notices contained in and on the materials. You agree
        that you will not circumvent, disable, or otherwise interfere with security-related features of the Site or
        features
        that prevent or restrict use or copying of any Materials or enforce limitations on use of the Site or the
        Materials on the Site. You further agree not to access the Site by any means other than through the interface
        that
        {{site_name}} provides, unless otherwise specifically authorized by us in a separate written agreement. You agree
        not to distribute in any medium any part of the Service or the Content without {{site_name}}'s prior written
        authorization, unless {{site_name}} makes available the means for such distribution through functionality offered by
        the Service (such as the Embeddable Player). In your use of the Service, you will comply with all applicable
        laws.
        {{site_name}} reserves the right to discontinue any aspect of the Service at any time.</p>
    <h3 id="F">F. Your PayPal or Online Payment/Checkout Account</h3>
    <p>You must have either a PayPal account or another online payment account to buy or sell Contributions on the Site.
        Purchasers must have sufficient funds available in their account to fully pay for the total cost of any
        transaction
        they want to make. Purchasers may not engage in a Query Transaction if they do not have sufficient funds in
        their account. If a Purchaser pays you for a Query Transaction, either PayPal or Google Checkout will transfer
        the money
        from the Purchaser’s account into either our PayPal or Google Checkout account. We will then transfer the money
        to your PayPal account upon request; payments may take up to 6 weeks to process. {{site_name}} is not a financial
        institution. {{site_name}} does not insure you for any loss that might occur from your PayPal or Google Checkout
        accounts and does not pay you interest on your accounts. {{site_name}} is not responsible for your use of the PayPal
        or
        Google Checkout services. You must resolve any disputes directly with PayPal or Google Checkout.</p>
    <h3 id="G">G. {{site_name}}’s Management of the Site/User Misconduct</h3>
    <p>{{site_name}} may, but is not required to: (a) monitor or review the Site for violations of these Terms and for
        compliance with {{site_name}}’s policies; (b) report to law enforcement authorities and/or take legal action against
        anyone
        who violates these Terms; (c) refuse, restrict access to or the availability of, or remove or disable (to the
        extent technologically feasible) any Contribution or any portion thereof that may violate these Terms, the law,
        or any
        of {{site_name}}’s policies or are excessive in size or burdensome; and/or (d) manage the Site in a manner designed
        to protect {{site_name}}’s and third parties’ rights and property or to facilitate the proper functioning of the
        Site.
        If, in {{site_name}}’s sole discretion, you engage in fraudulent activities, you understand and agree that {{site_name}}
        has the right to immediately close your account and that you will not be entitled to receive any of the funds in
        your account.</p>
    <h3 id="H">H. {{site_name}}’s Right to Terminate Users</h3>
    <p>WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS, {{site_name}} RESERVES THE RIGHT, IN ITS SOLE DISCRETION, AND
        WITHOUT NOTICE OR LIABILITY, TO DENY ACCESS TO AND USE OF THE SITE TO ANY PERSON WHO IS IN BREACH OF ANY
        REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS, OR OF ANY APPLICABLE LAW OR REGULATION, OR FOR
        ANY REASONS. {{site_name}} will terminate a user's access to the Site if, under appropriate circumstances, the user
        is
        determined to be a repeat infringer. {{site_name}} reserves the right to decide whether content violates these Terms
        for reasons other than copyright infringement, such as, but not limited to, obscenity, or inaccurate
        representations or answers. {{site_name}} may at any time, without prior notice and in its sole discretion, remove
        such content and/or terminate a user's account for submitting such material in violation of these Terms.</p>
    <h3 id="I">I. No Guaranteed Access to Contributions Upon Termination</h3>
    <p>IF YOUR ACCOUNT IS TERMINATED FOR ANY REASON, THE CONTENT THAT YOU HAVE POSTED MAY NO LONGER BE AVAILABLE.
        {{site_name}} RESERVES THE RIGHT, BUT HAS NO OBLIGATION, TO STORE OR KEEP COPIES OF YOUR MATERIALS OR CONTRIBUTIONS,
        UNLESS
        OTHERWISE REQUIRED BY LAW OR COURT ORDER.</p>
    <h3 id="J">J. Risk of Harm</h3>
    <p>There are many dangers involved in dealing with strangers, including persons who may be acting under false
        pretenses. Please choose carefully the information you post on the Site and that you give to other Site users.
        We discourage
        you from publicly posting the following information on the Site: your full name, telephone numbers, email
        address, IM address, and street address. Despite this prohibition, other people’s information may be offensive,
        harmful, or
        inaccurate, and in some cases will be mislabeled or deceptively labeled. You assume all risks associated with
        dealing with other users with whom you come in contact through the Site. {{site_name}} expects that you will use
        caution
        and common sense when using the Site.</p>
    <h3 id="K">K. No Responsibility for Contributions Posted on the Site</h3>
    <p>You understand that when using {{site_name}}, you will be exposed to content from a variety of sources, and that
        {{site_name}} is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or
        relating to
        such Content. You further understand and acknowledge that you may be exposed to Content that is inaccurate,
        offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable
        rights or
        remedies you have or may have against {{site_name}} with respect thereto, and, to the extent permitted by applicable
        law, agree to indemnify and hold harmless {{site_name}}, its owners, operators, affiliates, licensors, and licensees
        to the fullest extent allowed by law regarding all matters related to your use of the Service. {{site_name}}
        reserves the right to remove Content for any reason and at any time, without notification or warnings of any
        kind. You
        should not rely on answers posted on the Site. The answers are only intended to be a tutorial, and they may not
        accurately or fully answer your question.</p>
    <h3 id="L">L. Links and Search Results</h3>
    <p>The Site may automatically produce or contain links to third-party sites throughout the Internet (“Third-Party
        Sites”). {{site_name}} does not own or operate Third-Party Sites, and {{site_name}} has not reviewed, and cannot review,
        all
        of the material, including goods or services, made available through Third-Party Sites. The availability of
        these links on the Site does not represent, warrant, or imply that {{site_name}} endorses any Third-Party Sites or
        any
        materials, opinions, goods, or services available on them. Third-party materials accessed through or used by
        means of the Third-Party Sites may also be protected by copyright and other intellectual property laws. By using
        the Site
        to search for or link to another site, you agree and understand that you may not make any claim against
        {{site_name}} for any damages or losses, whatsoever, resulting from your use of the Site to obtain search results
        and/or to link
        to another site. THESE TERMS DO NOT APPLY TO THIRD-PARTY SITES. BEFORE VISITING A THIRD-PARTY SITE BY MEANS OF
        THE SITE OR A LINK LOCATED ON THE SITE, YOU SHOULD REVIEW THE THIRD-PARTY SITE’S TERMS AND CONDITIONS, PRIVACY
        POLICY,
        AND ALL OTHER SITE DOCUMENTS, AND INFORM YOURSELF OF THE REGULATIONS, POLICIES, AND PRACTICES OF THESE
        THIRD-PARTY SITES.</p>
    <h3 id="M">M. Copyright Policy</h3>
    <p>{{site_name}} will terminate, in appropriate circumstances, the accounts of subscribers who are repeat infringers. If
        you are a copyright owner or the legal agent of a copyright owner, and you believe that any user submission or
        content on the Site infringes upon your copyrights, you may submit a notification via <a
            href="{{site_homepage}}/contact">Contact Us</a> pursuant to the {{site_name}} Digital Millennium Copyright
        Act Notice.</p>
    <p>You further agree that Content you submit to the Service will not contain third-party copyrighted material, or
        material that is subject to other third-party proprietary rights, unless you have permission from the rightful
        owner of
        the material or you are otherwise legally entitled to post the material and to grant {{site_name}} all of the
        license rights granted herein.</p>
    <p>{{site_name}} does not endorse any Content submitted to the Site by any user or other licensor, or any opinion,
        recommendation, or advice expressed therein, and {{site_name}} expressly disclaims any and all liability in
        connection with
        Content. {{site_name}} does not permit copyright-infringing activities and infringement of intellectual property
        rights on the Service, and {{site_name}} will remove all Content if properly notified that such Content infringes on
        another's intellectual property rights. {{site_name}} reserves the right to remove Content without prior notice.</p>
    <h3 id="N">N. Digital Millennium Copyright Act</h3>
    <p>If you are a copyright owner or an agent thereof and believe that any Content infringes upon your copyrights, you
        may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by providing our Copyright
        Agent
        with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):</p>
    <ul>
        <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive
            right that is allegedly infringed;</li>
        <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at
            a single online site are covered by a single notification, a representative list of such works at that site;
        </li>
        <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity
            and that is to be removed or access to which is to be disabled, and information reasonably sufficient to
            permit the
            service provider to locate the material;</li>
        <li>Information reasonably sufficient to permit the service provider to contact you, such as an address,
            telephone number, and, if available, an e-mail address; </li>
        <li>A statement that you have a good faith belief that use of the material in the manner complained of is not
            authorized by the copyright owner, its agent, or the law; and</li>
        <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are
            authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
    </ul>
    <p>For clarity, only DMCA notices should go to the Copyright Agent; any other feedback, comments, requests for
        technical support, and other communications should be directed to <a href="/contact">Contact Us</a>. You
        acknowledge that
        if you fail to comply with all of the requirements of this section, your DMCA notice may not be valid.</p>
    <p>Counter-Notice. If you believe that your Content that was removed (or to which access was disabled) is not
        infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or
        pursuant to the
        law, to post and use the material in your Content, you may send a counter-notice containing the following
        information to the Copyright Agent:</p>
    <ul>
        <li>Your physical or electronic signature;</li>
        <li>Identification of the Content that has been removed or to which access has been disabled and the location at
            which the Content appeared before it was removed or disabled;</li>
        <li>A statement that you have a good faith belief that the Content was removed or disabled as a result of
            mistake or a misidentification of the Content; and </li>
        <li>Your name, address, telephone number, and email address; a statement that you consent to the jurisdiction of
            the federal court in San Francisco, California; and a statement that you will accept service of process from
            the
            person who provided notification of the alleged infringement.</li>
    </ul>
    <p>If a counter-notice is received by the Copyright Agent, {{site_name}} may send a copy of the counter-notice to the
        original complaining party informing that person that it may replace the removed Content or cease disabling it
        in 10
        business days. Unless the copyright owner files an action seeking a court order against the Content provider,
        member, or user, the removed Content may be replaced, or access to it restored, in 10 to 14 business days or
        more after
        receipt of the counter-notice, at {{site_name}}'s sole discretion.</p>
    <h3 id="O">O. Modifications</h3>
    <p>The Internet and technology are rapidly changing. Accordingly, {{site_name}} may modify these Terms from time to
        time. If you are a registered user, you will be asked to click to accept the new agreement the next time you log
        on to
        the Site in order to be able to use the interactive portions of the Site. {{site_name}} will also put any revised
        versions of these Terms on the Site. It is therefore important that you regularly check the Site for any
        announcements
        about revisions and keep your contact information current to ensure that you are informed of any changes.</p>
    <h3 id="P">P. Terms, Termination, and Survival</h3>
    <p>These Terms shall remain in full force and effect while you use the Site. You may terminate your use or
        participation at any time, for any reason. Upon termination of your account for any reason, any pending
        transactions will be
        cancelled, and you will no longer be able to retrieve materials contained in the account. If we remove your
        content from the Site because of an allegation of infringement, you may not engage in any further transactions
        with
        respect to that content, and we will not pay you any additional fees for that Content. You further agree to
        return to us any fees you earned from such Content on the Site. You will remain liable for all obligations
        related to your
        account even after your account is closed. If you do not access your account for a period of three years, it
        will be terminated. {{site_name}} will not have the obligation to take, transfer, or otherwise port any of your
        Contributions and/or account information or to store or provide access to your Contributions or account
        information. If you delete your account, {{site_name}} RESERVES THE RIGHTS to maintain your Contributions in
        perpetuity, and
        {{site_name}} may continue to collect fees for your Contributions. Even after your use and participation is
        terminated, these Terms will remain in effect.</p>
    <h3 id="Q">Q. Fees and Taxes</h3>
    <p><strong>Fees.</strong> The fees for use of the site are listed in U.S. dollars. Your account and all transactions
        are made and displayed in U.S. dollars.<br>
        <strong>Taxes.</strong> If you earn more than $600, you must complete a W9 tax form and submit it to {{site_name}}.
        {{site_name}} will not permit you to withdraw funds in excess of $600 from your account if you do not submit a W9
        tax
        form.<br>
        <strong>Transaction Fee and Account Review.</strong> Purchasers and Contributors may check the status of their
        accounts on the website. Users of the website acknowledge and agree that {{site_name}} may collect a transaction fee
        from
        each Query Transaction on the Site. Transaction fees are posted on our website as well. You expressly agree that
        any inquiries or disputes regarding any Transaction Fee must be made within 30 days after the applicable Query
        Transaction is made. Notwithstanding such inquiries, you agree and acknowledge that the decision of {{site_name}}
        regarding such Transaction Fee inquiry is final.
    </p>
    <h3 id="R">R. Risk of Reversals, Chargebacks, Money Back Guarantee and Claims</h3>
    <p><strong>Purchasers.</strong> Purchasers may not chargeback any fees they pay for a Contribution on the Site. If
        you do a chargeback, {{site_name}} will: (i) immediately suspend your account and (ii) charge you for the cost of
        such
        chargeback plus the applicable fees posted on the website. You agree that we may recoup such fees from you, and
        you agree to directly pay {{site_name}} such fees. If you request a chargeback, the credit card issuer, not
        {{site_name}},
        will determine whether the chargeback is granted.
        <strong>Sellers.</strong> If {{site_name}} is unable to recoup the cost of a chargeback from a Purchaser for a
        Contribution that you posted, you agree that we may recoup this charge from you, and you agree to either: (i)
        directly
        pay {{site_name}} these fees or (ii) permit {{site_name}} to debit these fees from future fees you earn on the Site. You
        must also offer your tutorials with a money back guarantee of which if a purchaser is not satisfied for any
        reason will be able to seek a guaranteed refund within 21 days of purchase.
    </p>
    <h3 id="S">S. No Off-Site Transactions</h3>
    <p>Contributors receive payment from Purchaser's payments via the Site only. {{site_name}} does not condone or in any
        way participate or become a party to any off-site transactions between users of the Site.</p>
    <h3 id="T">T. Account Termination/Fees</h3>
    <p>If you elect to terminate your Account, {{site_name}} will remove your Contributions from the Site. However, you will
        not be able to collect fees from any Query Transactions completed after such termination. {{site_name}} reserves the
        right to withhold funds from: (a) fraudulent accounts, (b) accounts terminated after they have been dormant for
        three years, and/or (c) accounts in dispute where no dispute resolution has been sought within six months after
        termination.</p>
    <h3 id="U">U. No Refunds</h3>
    <p>You expressly agree and understand that {{site_name}} will not offer any refunds for Query Transactions whatsoever.
        You participate in an Inquiry Transaction at your own risk. You may not revoke a Query Transaction once it has
        been
        issued and/or once any user has responded to it.</p>
    <h3 id="V">V. Legal Disputes Between Users and Resolution of Disputes</h3>
    <p>Any transactions between Purchasers and Contributors making use of the Site are solely between them. You are
        solely responsible for your conduct. You agree that {{site_name}} cannot be liable for any dispute that arises
        between you
        and any other user. If a dispute arises between you and {{site_name}}, our goal is to provide you with a neutral and
        cost-effective means of resolving the dispute quickly. Accordingly, you agree that we will resolve any claim or
        controversy at law or equity that relates to or arises out of the Terms or your use of the Site’s services (a
        “Claim”) in accordance with the subsections below.</p>
    <ul>
        <li><strong>General.</strong> You and {{site_name}} agree that any dispute, claim, or controversy arising out of or
            relating to these Terms of Use or the breach, termination, enforcement, interpretation, or validity thereof
            (collectively, “Disputes”) will be settled by binding arbitration; except that either party retains the
            right to bring an individual action in small claims court. You acknowledge and agree that you and {{site_name}}
            are each
            waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class
            action or representative proceeding. Further, unless both you and {{site_name}} otherwise agree, the arbitrator
            may not
            consolidate more than one person's claims, and may not otherwise preside over any form of any class or
            representative proceeding. If this specific paragraph is held unenforceable, then the entirety of this
            “Legal Disputes”
            section will be deemed void. This “Legal Disputes” section will survive any termination of these Terms of
            Use. Notwithstanding the foregoing, each party reserves the right to seek injunctive or other equitable
            relief in a
            court of competent jurisdiction with respect to any dispute related to the actual or threatened
            infringement, misappropriation, or violation of a party's intellectual property or proprietary rights or
            breach of the User
            Content and Activities provisions of this Agreement.</li>
        <li><strong>Arbitration Rules and Governing Law.</strong> The arbitration will be administered by the American
            Arbitration Association (“AAA”) in accordance with the Commercial Arbitration Rules and the Supplementary
            Procedures
            for Consumer Related Disputes (the “AAA Rules”) then in effect, except as modified by this Section of these
            Terms of Use. (The AAA Rules are available at www.adr.org/arb_med or by calling the AAA at 1-800-778-7879.)
            The
            Federal Arbitration Act will govern the interpretation and enforcement of this Section.</li>
        <li><strong>Arbitration Process.</strong> A party who desires to initiate arbitration must provide the other
            party with a written Demand for Arbitration as specified in the AAA Rules. (The AAA provides a Demand for
            Arbitration
            form at www.adr.org/si.asp?id=3477 and a separate form for California residents at
            www.adr.org/si.asp?id=3485.) The arbitrator will be either a retired judge or an attorney licensed to
            practice law in the state of California
            and will be selected by the parties from the AAA's roster of consumer dispute arbitrators. If the parties
            are unable to agree upon an arbitrator within seven (7) days of delivery of the Demand for Arbitration, then
            the AAA
            will appoint the arbitrator in accordance with the AAA Rules.</li>
        <li><strong>Arbitration Location and Procedure.</strong> Unless you and {{site_name}} otherwise agree, the
            arbitration will be conducted in the county where you reside. If your claim does not exceed $10,000, then
            the arbitration
            will be conducted solely on the basis of documents you and {{site_name}} submit to the arbitrator, unless you
            request a hearing or the arbitrator determines that a hearing is necessary. If your claim exceeds $10,000,
            your right
            to a hearing will be determined by the AAA Rules. Subject to the AAA Rules, the arbitrator will have the
            discretion to direct a reasonable exchange of information by the parties, consistent with the expedited
            nature of the
            arbitration.</li>
        <li><strong>Arbitrator's Decision.</strong> The arbitrator will render an award within the time frame specified
            in the AAA Rules. The arbitrator's decision will include the essential findings and conclusions upon which
            the
            arbitrator based the award. Judgment on the arbitration award may be entered in any court having
            jurisdiction thereof. The arbitrator's award damages must be consistent with the terms of Limitation of
            Liability section of
            these Terms as to the types and the amounts of damages for which a party may be held liable. The arbitrator
            may award declaratory or injunctive relief only in favor of the claimant and only to the extent necessary to
            provide
            relief warranted by the claimant's individual claim. If you prevail in arbitration, you will be entitled to
            an award of attorneys' fees and expenses to the extent provided under applicable law. {{site_name}} will not
            seek, and
            hereby waives all rights it may have under applicable law to recover, attorneys' fees and expenses if it
            prevails in arbitration.</li>
        <li><strong>Fees.</strong> Your responsibility to pay any AAA filing, administrative, and arbitrator fees will
            be solely as set forth in the AAA Rules. However, if your claim for damages does not exceed $75,000,
            {{site_name}} will
            pay all such fees unless the arbitrator finds that either the substance of your claim or the relief sought
            in your Demand for Arbitration was frivolous or was brought for an improper purpose (as measured by the
            standards set
            forth in Federal Rule of Civil Procedure 11(b)).</li>
    </ul>
    <h3 id="W">W. Disclaimer</h3>
    <p>ALL CONTRIBUTIONS OR ANY OTHER MATERIALS OR ITEMS PROVIDED THROUGH THE SITE ARE PROVIDED “AS IS” AND “AS
        AVAILABLE,” WITHOUT WARRANTY OR CONDITIONS OF ANY KIND. BY OPERATING THE SITE, {{site_name}} DOES NOT REPRESENT OR
        IMPLY THAT IT
        ENDORSES ANY CONTRIBUTIONS OR ANY OTHER MATERIALS OR ITEMS AVAILABLE ON OR LINKED TO BY THE SITE, INCLUDING
        WITHOUT LIMITATION, CONTENT HOSTED ON THIRD-PARTY SITES, OR THAT {{site_name}} BELIEVES CONTRIBUTIONS OR ANY OTHER
        MATERIALS
        OR ITEMS TO BE ACCURATE, USEFUL, OR NONHARMFUL. {{site_name}} CANNOT GUARANTEE AND DOES NOT PROMISE ANY SPECIFIC
        RESULTS FROM USE OF THE SITE. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM {{site_name}}
        OR
        THE SITE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS. YOU AGREE THAT YOUR USE OF THE SITE AND
        THE SERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, {{site_name}} AND EACH OF ITS
        ADVERTISERS, LICENSORS, SUPPLIERS, OFFICERS, DIRECTORS, INVESTORS, EMPLOYEES, AGENTS, SERVICE PROVIDERS, AND
        OTHER CONTRACTORS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF.
    </p>
    <p>{{site_name}} MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE SITE'S CONTENT, THE
        CONTENT OF ANY SITE LINKED TO THE SITE, CONTRIBUTIONS, INFORMATION, OR ANY OTHER ITEMS OR MATERIALS ON THE SITE
        OR
        LINKED TO BY THE SITE. {{site_name}} ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (A) ERRORS, MISTAKES, OR
        INACCURACIES OF CONTENT AND MATERIALS; (B) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER,
        RESULTING FROM
        YOUR ACCESS TO AND USE OF THE SITE OR THE SERVICES; (C) ANY UNAUTHORIZED ACCESS TO OR USE OF {{site_name}}’S SECURE
        SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION STORED THEREIN; (D) ANY INTERRUPTION OR CESSATION OF
        TRANSMISSION TO
        OR FROM THE SITE; (E) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH THE
        SITE BY ANY THIRD PARTY; AND/OR (F) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR
        DAMAGE OF
        ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE
        SITE.</p>
    <p>SOME STATES OR JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF CERTAIN WARRANTIES, OR THE EXCLUSION OR
        LIMITATION OF CERTAIN DAMAGES. IF YOU RESIDE IN ONE OF THESE STATES OR JURISDICTIONS, THE ABOVE LIMITATIONS OR
        EXCLUSIONS MAY NOT APPLY TO YOU.</p>
    <h3 id="X">X. Limitation of Liability</h3>
    <p>IN NO EVENT SHALL {{site_name}} OR ANY OF ITS EMPLOYEES, AGENTS, SERVICE PROVIDERS ADVERTISERS, LICENSORS, SUPPLIERS,
        OFFICERS, DIRECTORS, INVESTORS, AND OTHER CONTRACTORS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT,
        CONSEQUENTIAL, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT DAMAGES ARISING FROM YOUR USE OF
        THE SITE, CONTRIBUTIONS, MATERIALS, OR ANY OTHER CONTENT THEREIN. NOTWITHSTANDING ANYTHING TO THE CONTRARY
        CONTAINED
        IN THESE TERMS, {{site_name}}’S LIABILITY TO YOU IN RESPECT OF ANY LOSS OR DAMAGE SUFFERED BY YOU AND ARISING OUT OF
        OR IN CONNECTION WITH THESE TERMS, WHETHER IN CONTRACT, TORT, OR FOR BREACH OF STATUTORY DUTY OR IN ANY OTHER
        WAY,
        SHALL NOT EXCEED THE AMOUNT PAID BY YOU TO {{site_name}} IN THE SIX MONTHS, OR $250, WHICHEVER IS GREATER. SOME
        JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR
        INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU AND YOU MAY
        HAVE ADDITIONAL RIGHTS. IN THAT CASE, {{site_name}}'S LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY
        APPLICABLE LAW. THE EXCLUSIONS AND LIMITATIONS OF LIABILITY IN THESE TERMS OF USE WILL APPLY NOTWITHSTANDING ANY
        FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. THIS SECTION SHALL SURVIVE ANY EXPIRATION OR TERMINATION OF
        YOUR
        RELATIONSHIP WITH {{site_name}}. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE §1542, WHICH
        SAYS: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS
        FAVOR AT
        THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE
        DEBTOR."</p>
    <h3 id="Y">Y. Indemnity</h3>
    <p>You agree to indemnify and hold {{site_name}}, our subsidiaries, affiliates, and licensors and their respective
        officers, agents, partners, and employees, harmless from any loss, liability, claim, or demand, including
        reasonable
        attorneys’ fees, made by any third party due to or arising out of your use of the Site, Content, or Materials in
        violation of these Terms and/or arising from a breach of these Terms and/or any breach of your representations
        and
        warranties set forth above. THIS SECTION SHALL SURVIVE ANY EXPIRATION OR TERMINATION OF YOUR RELATIONSHIP WITH
        {{site_name}}.</p>
    <h3 id="Z">Z. Miscellaneous</h3>
    <p><strong>Entire Agreement.</strong> These Terms constitute the entire agreement between {{site_name}} and you
        regarding the use of the Site and supersedes any prior or contemporaneous understandings and agreements between
        you and
        {{site_name}} related to the subject matter hereof.<br>
        <strong>Independent Contractors.</strong> Nothing in these Terms shall be deemed to create an agency,
        partnership, joint venture, or employer-employee or franchisor-franchisee relationship of any kind between
        {{site_name}} and any
        user.<br>
        <strong>No Third-Party Beneficiaries.</strong> These Terms are between you and {{site_name}}. There are no
        third-party beneficiaries to these Terms.<br>
        <strong>Section Titles.</strong> The section titles in these Terms are for convenience only and have no legal or
        contractual effect.<br>
        <strong>Non-Waiver.</strong> {{site_name}}’s failure to exercise or enforce any right or provision of these Terms
        shall not operate as a waiver of such right or provision.<br>
        <strong>Severability.</strong> These Terms operate to the fullest extent permissible by law. If any provision or
        part of a provision of these Terms is unlawful, void, or unenforceable, that provision or part of the provision
        is
        deemed severable from these Terms and shall not affect the validity and enforceability of any remaining
        provisions.<br>
        <strong>Assignment.</strong> You may not assign your rights under these Terms to any third party; {{site_name}} may
        assign {{site_name}}’s rights under these Terms without condition.<br>
        <strong>U.S. Export Controls.</strong> You acknowledge and agree that software you download from the Site is
        subject to United States export controls. No software from the Site may be downloaded or otherwise exported or
        re-exported (a) into (or to a national or resident of) Cuba, Sudan, or Iran or any other country to which the
        United States has embargoed goods or (b) to anyone on the United States Treasury Department’s list of Specially
        Designated Nationals of the United States Commerce Department’s Table of Deny Orders. By downloading or using
        any of the software available from the Site, you represent and warrant that you are not located in, under the
        control
        of, or a national or resident of any such country or on any such list.<br>
        <strong>Not a Fiduciary.</strong> Users may upload credit card information and make financial transactions using
        the Site. {{site_name}} is not a party to those transactions between users and does not take, hold, or disperse
        money.
        Rather, {{site_name}} takes a transaction fee from the applicable user, and otherwise the monetary transfers are
        between Purchasers and Contributors. You acknowledge that {{site_name}} is not a bank, credit card, or financial
        services
        agency. {{site_name}} is not acting as a trustee, fiduciary, or escrow with respect to the transactions made in
        connection with the Site or its services.
    </p>
</div>

{% endblock flatpage_content %}